.TvSeriesesPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 4vw;
  padding-right: 4vw;
}

.TvSeries {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  width: 29vw;
  text-align: center;
  background-color: LemonChiffon;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  cursor: pointer;
}
