.AddTvSeriesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 35px;
    margin: 5px;
    min-width: 25vw;
    width: 50vmin;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
}

.formRowSelect > * {
    margin-top: 4px;
    margin-bottom: 4px;
}

.formRowSubmit {
    cursor: pointer;
}

input[type="text"], input[type="submit"]  {
    all: unset;
    width: 99%;
}

input[type="submit"]:focus {
    box-shadow: 0 0 3pt 0.5pt orange;
  }