.App {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

.App-header {
  background-color: #668cff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-header > *  {
  margin: 4px;
}

.App-body {
  display: flex;
}

.App-link {
  color: #61dafb;
}

