@import url('https://fonts.googleapis.com/css?family=Poppins');

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: Ivory;
  font-family: 'Poppins', cursive;
}

.AppHeader {
  /* background-color: #668cff; */
  /* background-color: #659dbd; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #557a95;
  padding: 3px 15px 3px 15px;
}

.AppHeaderTitles > h1, .AppHeaderTitles > h2,
.AppHeaderTitles > h3, .AppHeaderTitles > h4,
.AppHeaderTitles > h5, .AppHeaderTitles > h6 {
  margin: 4px;
}

.navigationButtons {
  display: flex;
}

.App-link {
  color: #61dafb;
}

