.TvSeriesPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: LemonChiffon;
}

.BottomButton {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid;
    border-radius: 10px;
    min-width: 10vw;
    min-height: 6vmin;
    cursor: pointer;
    margin: 2px;
    border-color: Gray;
    color:Gray;
}

.RedButton{
    border-color: red;
    color: red;
}

.BottomButtons {
    display: flex;
    flex-direction: row;
}

.popularity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popularity > * {
    margin: 4px;
}