.navigationButton {
    padding: 5px 30px 5px 30px; 
    margin: 5px;
    padding: 5px;
    min-height: 20px;
    min-width: 50px;
    border-bottom: 4px solid gold;
    cursor: pointer;
}

.navigationButton> h3, .navigationButton> h4, .navigationButton> h5, .navigationButton> h6  {
    margin: unset;
}

.noSelectText {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }
